body {
  min-height: 6000px;
}
.newsfeed {
  background-color: #323;
}

/*   Newsfeed Carousel */
#Newsfeed .carousel-indicators {
  background-color: red;
  margin: 0;
  left: auto;
  right: -100%;
  height: 100%;
}
#Newsfeed .carousel-indicators button {
  text-indent: 0;
  width: 3em;
  height: 3em;
  position: relative;
}
#Newsfeed .carousel-indicators button.active::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px dashed red;
  background-color: green;
  position: absolute;
  top: 0;
  border-radius: 100%;
  animation: rotate 10s infinite linear;
}
#Newsfeed .carousel-caption {
  overflow: visible;
}

#Newsfeed .carousel-caption {
  background-color: green;
  left: 228%;
  right: -328%;
  top: 0;
  text-align: left;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
HW4 : Make indicator menu round +dashed border on active, animate rotation
*bootstrap shadow
*/
.pricing {
  background-color: #eef;
}
.pricing .card {
  position: relative;
  top: -1em;
  left: 2em;
}
